body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #002b51;
}
.container {
    /*background-color: blueviolet;*/
    display: flex;            
    justify-content: center;
    align-items: center;
}
.label {            
    border-radius: 20px;
    /*border: red 2px solid;*/
    width: 90%;
    height: 90vh;      
    margin-top: 20px;  
           
}

.container-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.title {
    /*border: yellow 2px solid;*/
    background-color: black;    
    width: 25%;
    height: 75h;
    margin: 5px;
    border-radius: 8%;
    display: flex;            
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
title1 {            
    animation-name: uno;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;             
    animation-delay: 0s;           
    }
    @keyframes uno {
    0%{
        transform: translateY(0px);      
        opacity: 1;          
    }
    15% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    30% {
        transform: translateY(0px);
        opacity: 1;
    }
    45% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    60%{
        transform: translateY(0px);      
        opacity: 1;          
    }
    75% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    90% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 0.75;
    }
}
title2 {            
    animation-name: dos;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;             
    animation-delay: 0s;           
    }
    @keyframes dos {
        0%{
        transform: translateY(0px);      
        opacity: 0.75;          
    }
    15% {
        transform: translateY(0px);
        opacity: 1;
    }
    30% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    45% {
        transform: translateY(0px);
        opacity: 1;
    }
    60%{
        transform: translateY(0px);      
        opacity: 0.75;          
    }
    75% {
        transform: translateY(0px);
        opacity: 1;
    }
    90% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
title3 {            
    animation-name: tres;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;             
    animation-delay: 0s;           
    }
    @keyframes tres {
    0%{
        transform: translateY(0px);      
        opacity: 1;          
    }
    15% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    30% {
        transform: translateY(0px);
        opacity: 1;
    }
    45% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    60%{
        transform: translateY(0px);      
        opacity: 1;          
    }
    75% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    90% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 0.75;
    }
}
.imagen {
    width: 90%;
    height: 60vh;
}
.container-botton {    
    display: flex;            
    justify-content: center;
    align-items: center;           
}
.botton_jugar {
    border: green 2px solid;
    border-radius: 50%;
    width: 9%;
    height: 16vh;
    display: flex;            
    justify-content: center;
    align-items: center;           
    background-color: black;   
            
}
.botton_jugar :hover {           
    transform: scale(1.15);
    
}
.title > a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    
}
@media (max-width: 640px) {
    .botton_jugar {        
        border-radius: 50%;
        width: 20%;
        height: 15vh;                
    }
    .title {         
        width: 25%;
        height: 45h;        
    }

    .imagen {
        width: 90%;
        height: 35vh;
    }
}