body {
    background-color: #140f30;
    margin: 0px;
    display: flex;
    justify-content: center;
}
.container {
    background-color: #140f30;
    width: 90%;
    height: 98vh;
    border-radius: 30px;
    margin-top: 5px;
    
}
.alternatives {
    display: flex;
    justify-content: space-around;
    color: bisque;
    
}
.container-option {
    background-color: #33090c;
    margin: 10px 10px 10px 10px; /*arriba, der, abajo, izq*/
    border-radius: 30%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-op {
    border-radius: 10px;
    background-color: #911409;
    border: none;
    color: bisque;
    width: 200px;
    height: 60px;
    cursor: pointer;
}
.button-op :hover{
    color: #f0e802;
    transform: scale(1.1);

}
.alternative {
    width: 160px;
    height: 210px;
}
.container-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-resultado {            
    display: flex;            
    flex-direction: column;
    align-items: center;
}
.choice {
    width: 300px;
    height: 60px;display: flex;
    justify-content: center;
    align-items: center;
}
.response {            
    width: 100%;
    height: 60px;            
    display: flex;
    justify-content: center;
    align-items: center;
}
      
#result1, #result3 {
    color: #70b443;
}
.reload {
    display: flex;
    align-items: center;
    width: 90px;
   
}
#result4 {
    color: hsl(56, 100%, 51%);
    animation-name: uno;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;             
    animation-delay: 0s;           
    }
    @keyframes uno {
    0%{
        transform: translateY(0px);      
        opacity: 1;          
    }
    15% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    30% {
        transform: translateY(0px);
        opacity: 1;
    }
    45% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    60%{
        transform: translateY(0px);      
        opacity: 1;          
    }
    75% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    90% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 0.75;
    }
    }

@media (max-width: 1000px) {
.container-option {
    background-color: #33090c;
    margin: 10px 10px 10px 10px; /*arriba, der, abajo, izq*/
    border-radius: 40px;
    width: 200px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alternative {
    width: 160px;
    height: 190px;
}
.button-op {
    border-radius: 10px;
    background-color: #911409;
    border: none;
    width: 130px;
    height: 60px;
}
}
@media (max-width: 640px) {
.container-option {
    background-color: #33090c;
    margin: 10px 5px 10px 5px; /*arriba, der, abajo, izq*/
    border-radius: 40px;
    width: 140px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alternative {
    width: 160px;
    height: 170px;
}
.button-op {
    border-radius: 10px;
    background-color: #911409;
    border: none;
    width: 130px;
    height: 60px;
}       
}
@media (max-width: 480px) {
.container-option {
    background-color: #33090c;
    margin: 10px 5px 10px 5px; /*arriba, der, abajo, izq*/
    border-radius: 20px;
    width: 110px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alternative {
    width: 120px;
    height: 120px;
}
.button-op {
    border-radius: 10px;
    background-color: #911409;
    border: none;
    width: 100px;
    height: 55px;
}
.choice {
    width: 170px;
    height: 60px;
    
}
#result1 {
    font-size: 10px;
}
#result3, #result4 {
    font-size: 12px;
}
}
